* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    cursor: url("./images/cover.webp"), auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.greenColor {
    color: #008000 !important;
}

.redColor {
    color: #ff0000 !important;
}